body {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

div.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

div.subHeader {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
}

p.startingPara {
  text-align: center;
  font-size: 15;
  font-weight: 400;
  padding-bottom: 20px;
}

div.albumCol0Hidden {
  margin: auto;
}

div.streamGraphs {
  margin: auto;
}

div.hidden {
    display: none;
}

div.toolTip {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px; 
}

div.streamSelector {
  padding-bottom: 200px;
}
