body {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}

div.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

div.subHeader {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

p.startingPara {
  text-align: center;
  font-size: 15;
  font-weight: 400;
  padding-bottom: 20px;
}


div.hidden {
    display: none;
}
