body {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

div.title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

div.subHeader {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
}

p.startingPara {
  text-align: center;
  font-size: 15;
  font-weight: 400;
  padding-bottom: 20px;
}

div.albumCol0Hidden {
  margin: auto;
}

div.streamGraphs {
  margin: auto;
}

div.hidden {
  display: none;
}

div.dropdown{
  text-align: center;
}
div.tooltip {	
      position: absolute;			
      text-align: center;			
      width: 100px;					
      height: 40px;					
      padding: 2px;				
      font: 12px sans-serif;		
      background: white;	
      border: 0px;		
      border-radius: 8px;			
      pointer-events: none;			
}
div.title1{
    left: 240px;
    position: relative;
    top: 100px;
  
}
div.title2{
    left: 750px;
    position: relative;
    top: 80px;
}

div.streamSelector {
  padding-bottom: 200px;
}

div.hiddenDiv{
  display: none;
}

div.expandedDiv{
  width: 1000px;
  height: 200px;
  margin: auto;
}



